@use "../../tokens/breakpoints" as *;

.ds-badge {
  display: inline-flex;
  align-items: center;
  padding: var(--ds-spacing-3xs) var(--ds-spacing-2xs);
  border-radius: 12px;
  color: var(--ds-color-on-neutral);
  font-family: var(--ds-font-family);
  font-size: var(--ds-font-size-body-s);
  font-weight: var(--ds-font-weight-bold);
  line-height: var(--ds-line-height-body);
  white-space: nowrap;

  @include mobile {
    padding: var(--ds-spacing-4xs) var(--ds-spacing-3xs);
    border-radius: 8px;
  }

  &--neutral  { background-color: var(--ds-color-surface-high); }
  &--positive { background-color: var(--ds-color-surface-positive); }
  &--negative { background-color: var(--ds-color-surface-negative); }
}